<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Logga in</h2>
        <p class="text-primary">Om du redan har ett konto är det bara att logga in för att arbeta i dina projekt.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Logga in &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registrera</h2>
        <p class="text-primary">Registrera dig idag för att ta första steget mot dina drömmars mål.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Registrera &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>